**MySQL + Python Magic**  
  
Required lib  
`sqlalchemy`: This library is needed to connect to the database.  
`pymysql`: This is the MySQL driver that works with SQLAlchemy.  
`ipython-sql`: This library enables the SQL Magic commands in Jupyter Notebooks.

In [2]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [3]:
#making connection

# %sql mysql+pymysql://user:password@local_host:port/database_name
try:    
    %sql mysql+pymysql://root@local_host:3306/demo
    print("Connection successed with mysql")
except:
    print("Connection failed")

Traceback (most recent call last):
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/pymysql/connections.py", line 649, in connect
    sock = socket.create_connection(
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/socket.py", line 841, in create_connection
    for res in getaddrinfo(host, port, 0, SOCK_STREAM):
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/socket.py", line 976, in getaddrinfo
    for res in _socket.getaddrinfo(host, port, family, type, proto, flags):
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
socket.gaierror: [Errno 8] nodename nor servname provided, or not known

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/engine/base.py", line 146, in __init__
    self._dbapi_connection = engine.raw_connection()
                             ^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/engine/base.py", line 3302, in raw_connection
    return self.pool.connect()
           ^^^^^^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/pool/base.py", line 449, in connect
    return _ConnectionFairy._checkout(self)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/pool/base.py", line 1263, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/pool/base.py", line 712, in checkout
    rec = pool._do_get()
          ^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/pool/impl.py", line 179, in _do_get
    with util.safe_reraise():
         ^^^^^^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/util/langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/pool/impl.py", line 177, in _do_get
    return self._create_connection()
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/pool/base.py", line 390, in _create_connection
    return _ConnectionRecord(self)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/pool/base.py", line 674, in __init__
    self.__connect()
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/pool/base.py", line 900, in __connect
    with util.safe_reraise():
         ^^^^^^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/util/langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/pool/base.py", line 896, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
                                         ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/engine/create.py", line 643, in connect
    return dialect.connect(*cargs, **cparams)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/engine/default.py", line 621, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/pymysql/connections.py", line 361, in __init__
    self.connect()
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/pymysql/connections.py", line 716, in connect
    raise exc
pymysql.err.OperationalError: (2003, "Can't connect to MySQL server on 'local_host' ([Errno 8] nodename nor servname provided, or not known)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sql/connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
                              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sql/connection.py", line 55, in __init__
    self.internal_connection = engine.connect()
                               ^^^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/engine/base.py", line 3278, in connect
    return self._connection_cls(self)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/engine/base.py", line 148, in __init__
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/engine/base.py", line 2442, in _handle_dbapi_exception_noconnection
    raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/engine/base.py", line 146, in __init__
    self._dbapi_connection = engine.raw_connection()
                             ^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/engine/base.py", line 3302, in raw_connection
    return self.pool.connect()
           ^^^^^^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/pool/base.py", line 449, in connect
    return _ConnectionFairy._checkout(self)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/pool/base.py", line 1263, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/pool/base.py", line 712, in checkout
    rec = pool._do_get()
          ^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/pool/impl.py", line 179, in _do_get
    with util.safe_reraise():
         ^^^^^^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/util/langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/pool/impl.py", line 177, in _do_get
    return self._create_connection()
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/pool/base.py", line 390, in _create_connection
    return _ConnectionRecord(self)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/pool/base.py", line 674, in __init__
    self.__connect()
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/pool/base.py", line 900, in __connect
    with util.safe_reraise():
         ^^^^^^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/util/langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/pool/base.py", line 896, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
                                         ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/engine/create.py", line 643, in connect
    return dialect.connect(*cargs, **cparams)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/sqlalchemy/engine/default.py", line 621, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/pymysql/connections.py", line 361, in __init__
    self.connect()
  File "/Users/zara/Developer/Youtube/YT Challenge/30_days_python/my_venv/lib/python3.12/site-packages/pymysql/connections.py", line 716, in connect
    raise exc
sqlalchemy.exc.OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'local_host' ([Errno 8] nodename nor servname provided, or not known)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Connection successed with mysql

In [5]:
%sql SHOW DATABASES;

 * mysql+pymysql://root@localhost:3306/demo
5 rows affected.

[('demo',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [6]:
%sql SHOW TABLES;

 * mysql+pymysql://root@localhost:3306/demo
3 rows affected.

[('jobs',), ('payments',), ('walmart',)]

In [10]:
%%sql 
SELECT 
    payment_status,
    COUNT(*) as total_payments
FROM payments
GROUP BY payment_status;

 * mysql+pymysql://root@localhost:3306/demo
5 rows affected.

[('Payment Failed\r', 2),
 ('Payment Successed\r', 16),
 ('\r', 5),
 ('Refunded \r', 4),
 ('Payment Successed', 1)]

In [11]:
%sql DESC payments;

 * mysql+pymysql://root@localhost:3306/demo
4 rows affected.

[('payment_id', 'int', 'YES', '', None, ''),
 ('order_id', 'int', 'YES', '', None, ''),
 ('payment_date', 'date', 'YES', '', None, ''),
 ('payment_status', 'varchar(50)', 'YES', '', None, '')]

In [12]:
%%sql
INSERT INTO payments(payment_id, order_id, payment_date, payment_status)
VALUES
(1001, 201, '2024-10-20', 'Success');

 * mysql+pymysql://root@localhost:3306/demo
1 rows affected.

[]

In [13]:
%%sql 
SELECT * FROM payments
WHERE payment_id = 1001

 * mysql+pymysql://root@localhost:3306/demo
1 rows affected.

[(1001, 201, datetime.date(2024, 10, 20), 'Success')]

**Connect Postgre + Python**

`ipython-sql`: For SQL Magic commands.  
`psycopg2-binary`: PostgreSQL adapter for Python.  
`SQLAlchemy`: ORM and database toolkit for managing database connections and queries.  
pip install ipython-sql psycopg2-binary SQLAlchemy

In [ ]:
# user -- postgres
# port -- 5432
# password --
# localhost

In [ ]:
%load_ext sql

In [ ]:
# %sql postgresql://user:password@localhost:port/db

%sql postgresql://postgres:x0000@localhost:5432/demo

In [ ]:
%sql SELECT CURRENT_DATE

 * postgresql://postgres:***@localhost:5432/demo
1 rows affected.

[(datetime.date(2024, 10, 20),)]

In [ ]:
%%sql
CREATE TABLE payments(
    payment_id INT,	
    order_id	INT,
    payment_date	DATE,
    payment_status VARCHAR(25));

 * postgresql://postgres:***@localhost:5432/demo
Done.

[]

In [ ]:
%%sql
SELECT * FROM payments

 * postgresql://postgres:***@localhost:5432/demo
28 rows affected.

[(18223, 21629, datetime.date(2024, 7, 26), 'Payment Failed'),
 (13920, 21628, datetime.date(2024, 1, 20), 'Payment Successed'),
 (11875, 21627, datetime.date(2024, 7, 26), 'Payment Successed'),
 (5587, 21626, datetime.date(2024, 3, 19), None),
 (1598, 21625, datetime.date(2024, 2, 18), None),
 (3048, 21624, datetime.date(2024, 3, 27), None),
 (17607, 21623, datetime.date(2024, 7, 15), None),
 (8076, 21622, None, None),
 (3406, 21621, None, 'Payment Successed'),
 (19030, 21620, None, 'Refunded '),
 (13284, 21619, None, 'Payment Successed'),
 (2159, 21618, None, 'Payment Successed'),
 (2062, 21617, None, 'Payment Successed'),
 (6139, 21616, None, 'Payment Successed'),
 (15145, 21615, datetime.date(2024, 5, 28), 'Payment Successed'),
 (18225, 21614, datetime.date(2024, 1, 29), 'Payment Failed'),
 (19970, 21613, datetime.date(2024, 2, 19), 'Refunded '),
 (19482, 21612, datetime.date(2024, 5, 24), 'Refunded '),
 (9168, 21611, datetime.date(2024, 5, 22), 'Payment Successed'),
 (13642, 21610, datetime.date(2024, 7, 28), 'Payment Successed'),
 (8079, 21609, datetime.date(2024, 2, 24), 'Payment Successed'),
 (3315, 21608, datetime.date(2024, 6, 29), 'Payment Successed'),
 (6057, 21607, datetime.date(2024, 6, 26), 'Payment Successed'),
 (4963, 21606, datetime.date(2024, 4, 23), 'Payment Successed'),
 (19482, 21612, datetime.date(2024, 5, 24), 'Refunded '),
 (9168, 21611, datetime.date(2024, 5, 22), 'Payment Successed'),
 (13642, 21610, datetime.date(2024, 7, 28), 'Payment Successed'),
 (8079, 21609, datetime.date(2024, 2, 24), 'Payment Successed')]

In [ ]:
%sql SELECT COUNT(*) as total_payment FROM payments

 * postgresql://postgres:***@localhost:5432/demo
1 rows affected.

[(28,)]