### Welcome to day 4

- Lists
- Tuples
- Sets
- 1 mini project : Grocery List Manager

**Lists**  [] -- squared brackets  
A list is a mutable (changeable) sequence of items. Lists can contain elements of different data types, including other lists.

In [80]:
movies = ['Spider Man', 122, 3.55, True, 'Joker', 'Lucy', 'Titanic', 'Inception']

print(movies)

['Spider Man', 122, 3.55, True, 'Joker', 'Lucy', 'Titanic', 'Inception']

In [75]:
# slice

# movies[start_index : end_index]
new_film = movies[-4:]
new_film

['Joker', 'Lucy', 'Titanic', 'Inception']

In [51]:
new_film.append(250)
new_film

['Joker', 'Lucy', 'Titanic', 'Inception', 'Spider Man', 'Spider Man', 250]

In [74]:
new_film.remove(250)
new_film

ValueError: list.remove(x): x not in list

In [56]:
new_film.pop()
new_film

['Joker', 'Lucy', 'Titanic', 'Inception']

In [66]:
my_fav_no = [ 2, 5, 7, 1, 6 , 0]

# sort accending 
# type(my_fav_no)
my_fav_no.sort()

my_fav_no
# sort desc
my_fav_no.sort(reverse=True)
my_fav_no

[7, 6, 5, 2, 1, 0]

In [68]:
# new_film.

new_film

[]

In [61]:
new_film.sort(reverse=True)
new_film

['Titanic', 'Lucy', 'Joker', 'Inception']

In [26]:
movies.index('Joker')

4

**List Functions**
- .Indexing
- Slicing
- appent()
- remove
- pop()
- sort()

In [85]:
# movies[0] = 10
movies[3] = False
movies

[10, 122, 3.55, False, 'Joker', 'Lucy', 'Titanic', 'Inception']

**Tuples** () -- parenthesis  
A tuple is an immutable (unchangeable) sequence of items. Once created, elements in a tuple cannot be modified.

**Tuples Functions**
- Indexing
- Slicing

In [73]:
movies_t = ('Joker', 'Lucy', 'Titanic', 'Inception', 'Spider Man', 'Spider Man')

# type(movies_t)

# movies_t.index('Spider Man')

# slicing in tuples

# movies_t[-3:]

('Inception', 'Spider Man', 'Spider Man')

In [97]:
my_list = ['Data Engineering', 'Data Analyst', 'Dev Ops', 'ML Engineering']
type(my_list)

# list to types
# type casting
new_t = tuple(my_list)
type(new_t)
new_t

('Data Engineering', 'Data Analyst', 'Dev Ops', 'ML Engineering')

In [101]:
clouds = ("AWS", "GCP", "Azure", "Alibaba")

# tuples to list
type(clouds)

new_list = list(clouds)
type(new_list)

list

In [115]:
# clouds = ("AWS", "GCP", "Azure", "Alibaba")
# we want to change alibaba to dell

clouds = ("AWS", "GCP", "Azure", "Alibaba")

# clouds[-1] = "Dell"
cloud_list = list(clouds)
cloud_list[-1] = "Dell"

cloud_list_tuple = tuple(cloud_list)

clouds = cloud_list_tuple
clouds

('AWS', 'GCP', 'Azure', 'Dell')

**type casting**
- list()
- tuples()

**Sets** {} -- Curly Brackets  
A set is an unordered collection of unique items. Sets do not allow duplicate elements.
- we can store diff data types  
- it automatically eleminate the duplcate

In [121]:
my_set1 = {1, 2, 4}
my_set2 = {4, 5, 6}

In [124]:
# union
union_set = (my_set1 | my_set2)
union_set

{1, 2, 4, 5, 6}

In [126]:
intersect_set = (my_set1 & my_set2)
intersect_set

{4}

In [129]:
minus_set = (my_set2 - my_set1)
minus_set

{5, 6}

In [131]:
my_set1

{1, 2, 4}

In [132]:
my_set2

{4, 5, 6}

In [130]:
s_set = (my_set1 ^ my_set2)
s_set

{1, 2, 5, 6}

In [139]:
my_set1 = {1, 2, 4}
my_set1

{1, 2, 4}

In [143]:
my_set = {1, 2, 4, "iPhone 15", "iPhone 15"}
my_set

{1, 2, 4, 'iPhone 15'}

In [140]:
my_set1.remove(2)
my_set1

{1, 4}

**Set Operations**
- Union (|): Combines two sets.  
- Intersection (&): Returns common elements.  
- Difference (-): Returns elements in one set but not the other.
- Symmetric Difference (^): Returns elements in either set but not both.

### Mini Project

**Project 1: Grocery List Manager**

Objective:
Create a simple grocery list manager where users can add items, view the list, and remove duplicates (using set functionality).

Steps:
Ask the user to input grocery items (comma-separated).  
Store these items in a list.  
Convert the list to a set to remove duplicates.  
Display the updated grocery list.