### Welcome to day 5 

**Dictionary in python**  
A dictionary in Python is an unordered, mutable, and indexed collection of key-value pairs. Each key is unique, and it maps to a corresponding value. 
  
Key Characteristics:  
- Unordered
- Mutable
- Key must be unique
- Values can be any type

In [4]:
my_dict = {
    "name" : "Zero Analyst",
    "subscriber": 12500,
    "city" : "Delhi",
    "gender" : "Male"
}
type(my_dict)
my_dict

{'name': 'Zero Analyst',
 'subscriber': 12500,
 'city': 'Delhi',
 'gender': 'Male'}

In [7]:
my_dict.get("name")

'Zero Analyst'

In [12]:
# my_dict.keys()
# my_dict.values()

dict_values(['Zero Analyst', 12500, 'Delhi', 'Male'])

In [14]:
my_dict.items()

dict_items([('name', 'Zero Analyst'), ('subscriber', 12500), ('city', 'Delhi'), ('gender', 'Male')])

In [8]:
my_dict["name"]

'Zero Analyst'

In [29]:
person ={
    "name" : "sam",
    "age" : 25,
    "salary" : 55000,
    1 : "abc"
}

In [31]:
person.pop(1)

'abc'

In [32]:
person

{'name': 'sam', 'age': 25, 'salary': 55000}

In [33]:
skills = {
    "data" : "sql",
    "dashboarding" : "Tableau"
}

In [34]:
skills.keys()

dict_keys(['data', 'dashboarding'])

In [35]:
# adding new elements
# cloud = "AWS"

skills["cloud"] = "AWS"
skills

{'data': 'sql', 'dashboarding': 'Tableau', 'cloud': 'AWS'}

In [36]:
skills["cloud"] = "GCP"
skills

{'data': 'sql', 'dashboarding': 'Tableau', 'cloud': 'GCP'}

In [21]:
person.values()

dict_values(['sam', 25, 55000, 'abc'])

In [20]:
person.get("salary")

55000

In [16]:
my_dict.clear()
my_dict

{}

In [37]:
dict1 = { "name" : "Ford"}
dict2 = {"model" : 2021,
         "color" : "Black"}

dict1.update(dict2)

dict1

{'name': 'Ford', 'model': 2021, 'color': 'Black'}

In [39]:
# dict with multiple values

data_analyst = {
    "skills" : ["Excel", "AWS", "Python", "SQL", "Tabluea", "Power Bi"],
    "soft_skills" :  ("Communication", "Presentation", "Problem Solving")
}

In [42]:
# data_analyst["skills"][1]
data_analyst["soft_skills"][-1]

'Problem Solving'

| **Method**       | **Description**                                                                                     |
|------------------|-----------------------------------------------------------------------------------------------------|
| `dict.get(key)`  | Returns the value for a given key; if the key does not exist, returns a default value (e.g., `None`).|
| `dict.keys()`    | Returns a view of all keys in the dictionary.                                                        |
| `dict.values()`  | Returns a view of all values in the dictionary.                                                      |
| `dict.items()`   | Returns a view of all key-value pairs in the dictionary as tuples.                                   |
| `dict.update()`  | Updates the dictionary with elements from another dictionary or iterable of key-value pairs.         |
| `dict.clear()`   | Removes all elements from the dictionary.                                                           |
| `dict.pop(key)`  | Removes the key-value pair and returns the value; raises a `KeyError` if the key doesn't exist.      |

In [44]:
# Nested Dictionary

my_dict = {
    "ford" : {
        "name" : "Eco sport",
        "model" : 2021,
        "price" : 250000
        },
    "tata" : {"name" : "safari",
              "model" : 2023,
              "price" : 550000},
    "phone" : {
                "brand" : "apple",
                "model" : 16,
                "price" : 999
               }
    }

In [57]:
my_dict["phone"]["brand"] = "Samsung"
my_dict

{'ford': {'name': 'Eco sport', 'model': 2021, 'price': 250000},
 'tata': {'name': 'safari', 'model': 2023, 'price': 550000},
 'phone': {'brand': 'Samsung', 'model': 16, 'price': 999}}

In [60]:
my_dict["phone"]["price"] = 1299

In [61]:
my_dict

{'ford': {'name': 'Eco sport', 'model': 2021, 'price': 250000},
 'tata': {'name': 'safari', 'model': 2023, 'price': 550000},
 'phone': {'brand': 'Samsung', 'model': 16, 'price': 1299}}

In [59]:
# del
del my_dict["phone"]["price"]
my_dict

{'ford': {'name': 'Eco sport', 'model': 2021, 'price': 250000},
 'tata': {'name': 'safari', 'model': 2023, 'price': 550000},
 'phone': {'brand': 'Samsung', 'model': 16}}

### Mini Project

Project: eCommerce Product Lookup System (No Loops)
Scenario:
You are managing an eCommerce store with three products in different categories. Each product has attributes like Product ID, Name, Price, and Stock. The project focuses on dictionary manipulation and string operations to retrieve and modify product data.

In [77]:
# Dictionary for product information
ecommerce_store = {
    "Electronics": {
        101: {"name": "Smartphone", "price": 699.99, "stock": 50},
        102: {"name": "Laptop", "price": 999.99, "stock": 30}
    },
    "Clothing": {
        201: {"name": "T-shirt", "price": 19.99, "stock": 200},
        202: {"name": "Jeans", "price": 39.99, "stock": 150}
    }
}

# List of available categories
categories = ["Electronics", "Clothing"]

# Tuple containing product details for a new item to be added
new_product = (301, "Book", 12.99, 500)

Tasks:
Access a specific product by category and ID:
Manually access the Laptop in the Electronics category.

Add a new product to the store:
Use the new_product tuple to add the Book to the Clothing category.

Convert a product name to uppercase:
Change the name of the T-shirt product to uppercase using string functions.

Check if a product exists in the store:
Use the get() method to check if Smartphone exists in the Electronics category.

In [65]:
ecommerce_store['Electronics']

{101: {'name': 'Smartphone', 'price': 699.99, 'stock': 50},
 102: {'name': 'Laptop', 'price': 999.99, 'stock': 30},
 301: {'name': 'Book', 'price': 12.99, 'stock': 500},
 '401': {'name': 'iphone', 'price': '999', 'stock': '25'},
 '301': {'name': 'iPhone', 'price': '28', 'stock': '25'}}

take input from users product_id, product_name, price, stock
if the product id is availble update the stock if its not available add the product.

In [71]:
# Dictionary for product information
ecommerce_store = {
    "Electronics": {
        101: {"name": "Smartphone", "price": 699.99, "stock": 50},
        102: {"name": "Laptop", "price": 999.99, "stock": 30}
    },
    "Clothing": {
        201: {"name": "T-shirt", "price": 19.99, "stock": 200},
        202: {"name": "Jeans", "price": 39.99, "stock": 150}
    }
}

# List of available categories
categories = ["Electronics", "Clothing"]

# Tuple containing product details for a new item to be added
# new_product = (301, "Book", 12.99, 500)